<html xmlns:th="https://www.thymeleaf.org">
	<div th:replace="fragment/header :: admin-header">
	
	</div>
	<div class="container">
		<h3 style="margin-top: 10px">Product Review List</h3>
		<div style="margin-top: 10px"></div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Product Name</th>
					<th scope="col">Category</th>
					<th scope="col">Comment</th>
					<th scope="col">Reviewed By</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="text-align: center" colspan="9" 
						th:if="${#lists.size(productreviews) == 0}" 
						th:text="'No Data To Display'" />
				</tr>
				<tr th:each="productreview, iter: ${productreviews}">
					<th scope="row" th:text="${iter.count}" />
					<td scope="row" th:text="${productreview.product.productName}"></td>
					<td scope="row" th:text="${productreview.product.category.categoryName}"></td>
					<td scope="row" th:text="${productreview.comment}"></td>
					<td scope="row" th:text="${productreview.reviewBy.username}"></td>
					<td th:if="${productreview.isApprove == false}">
						<a th:href="@{/admin/approveproductreview/} + ${productreview.productReviewId}" class="btn btn-primary">Approve</a>
					</td>
					<td th:if="${productreview.isApprove == true}">
						<p style="color: blue;">Approved</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</html>