<html xmlns:th="https://www.thymeleaf.org">
	<div th:replace="fragment/header :: buyer-header">
	
	</div>
	<div class="container">
		<br/>
		<form th:action="@{/buyer/updatebillingaddress}" th:object="${address}" method="post">
			<div class="row">
				<div class="form-group col-md-12">
					<input type="hidden" th:field="*{addressId}" th:value="*{addressId}" />
					<label th:if="${#fields.hasErrors('fullAddress')}" th:errors="*{fullAddress}"></label>
				    <label for="fulladdress">Full Address</label>
				    <input required type="text" class="form-control" id="fulladdress" th:field="*{fullAddress}" th:value="*{fullAddress}">
				 </div>			
			 </div>
			 <div class="row">
				<div class="form-group col-md-12">
					<label th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></label>
				    <label for="city">City</label>
				    <input required type="text" class="form-control" id="city" th:field="*{city}" th:value="*{city}">
				 </div>			
			 </div>
			 <div class="row">
				<div class="form-group col-md-4">
					<label th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></label>
				    <label for="state">State</label>
				    <input required type="text" class="form-control" id="state" th:field="*{state}" th:value="*{state}">
				 </div>		
			 </div>
			 <div class="row">
				<div class="form-group col-md-4">
					<label th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}"></label>
				    <label for="zipcode">ZipCode</label>
				    <input required type="text" class="form-control" id="zipcode" th:field="*{zipCode}" th:value="*{zipCode}">
				 </div>		
			 </div>
			  <div class="row">
			  	<div class="form-group col-md-4">
					<button type="submit" class="btn btn-primary">Update Billing Address</button>
				  </div>
			  </div>
		</form>
	</div>
</html>