<html xmlns:th="https://www.thymeleaf.org">
	<div th:replace="fragment/header :: buyer-header">
	
	</div>
	<div class="container">
		<h3 style="margin-top: 10px"> 
		</h3>
		<form th:object="${orders}" method="POST" action="/saler/changestatus">
			<input type="hidden" th:field="*{orderId}">
			<h6 th:text="'Order Number: ' + *{orderReferenceNumber}"></h6>
			<h6 th:text="'Order Date: ' + *{orderDate}"></h6>
			<h6 th:text="'Order By: ' + *{orderBy.username}"></h6>
			<h6 style="color: blue;" th:text="'Status: ' + *{orderStatus.orderStatusName}"></h6>
		</form>
		
		<h3 style="margin-top: 10px">Order List</h3>
		<div style="margin-top: 10px"></div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Seller Name</th>
					<th scope="col">Product Name</th>
					<th scope="col">Category Name</th>
					<th scope="col">Qty</th>
					<th scope="col">Price</th>
					<th scope="col">Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="text-align: center" colspan="9" 
						th:if="${#lists.size(orders) == 0}" 
						th:text="'No Data To Display'" />
				</tr>
				<tr th:each="order, iter: ${orders.orderDetail}">
					<th scope="row" th:text="${iter.count}" />
					<td scope="row" th:text="${order.product.user.username}"></td>
					<td scope="row" th:text="${order.product.productName}"></td>
					<td scope="row" th:text="${order.product.category.categoryName}"></td>
					<td scope="row" th:text="${order.qty}"></td>
					<td scope="row" th:text="'$' + ${order.product.price}"></td>
					<td scope="row" th:text="'$' + ${order.product.price * order.qty}"></td>
				</tr>
				<tr>
					<td style="text-align: right; background-color: gray; color: white; font-weight: bold;" colspan="7" th:text="'Total: $' + ${total}"></td>				
				</tr>
			</tbody>
		</table>
	</div>
</html>